<h4 class="center-align map-title">Map of <%= @countryname %></h4>

<div class='world-map <%= "#{params[:id]}" %>'></div>


<div class="">
  <div class="map-legend">
    <div class="visited-country valign-wrapper">
      <p>test</p>
    </div>
    <div class="legend-colors valign-wrapper row">
      <div class='valign col s1'><div class='box-selected valign'></div></div>
      <div class='col s5'><p>selected country</p></div>
      <div class='col s1'>ddd</div>
      <div class='col s5'>fff</div>
    </div>
  </div>

<div class="country-details">
  <div class="country-info">
    <h4 class="ctry-info-title">Country Info</h4>
    Country name: <%= @countryname %> <img src="/assets/flags/<%= @cntrycode %>.png"><br>
    Capital: <%= @countrycapital %><br>
    Region: <%= @countryregion %><br>
    Population: <%= @countrypopulation %><br>
    Calling code: +<%= @countrycallingcode %><br>
    Area: <%= @countryarea.round %> &#13218;
  </div>
  <div class="country-info2">
    <h4 class="ctry-info-title">Country Info</h4>
    <% @twitter.search("france", result_type: "popular").take(3).collect do |tweet| %>
     <%= "#{tweet.user.screen_name}: #{tweet.text}" %>
     <% end %>
  </div>
  <div class="weather-info valign-wrapper">

  </div>
</div>

<div class="country-pics gallery js-flickity"
  data-flickity-options='{ "setGallerySize": false, "imagesLoaded": true, "wrapAround": true, "autoPlay": true }'>
  <% for i in 1..10 %>
    <% picid = @flickrimg["photos"]["photo"][i]["id"] %>
    <% picsecret = @flickrimg["photos"]["photo"][i]["secret"] %>
    <% picfarm = @flickrimg["photos"]["photo"][i]["farm"] %>
    <% picserver = @flickrimg["photos"]["photo"][i]["server"] %>
    <div class="gallery-cell"><img src="http://farm<%= picfarm %>.static.flickr.com/<%= picserver %>/<%= picid %>_<%= picsecret %>.jpg" class="materialboxed"></div>
  <% end %>
</div>

</div>
