<!DOCTYPE html>
<html>
<head>
  <title>Travel Maps</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Travel Maps</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
          <li><img src="<%= gravatar_for current_user %>?s=40&d=mm&r=pg" alt= <%= current_user.name %> class="nav-gravatar circle"><a href="#"><%= current_user.name %></a></li>
          <li><a href="../logout"><%= icon("sign-out fa") %></a></li>
        <% else %>
          <li><%= link_to 'Login', '/login' %></li>
          <li><%= link_to 'Signup', '/signup' %></li>
        <% end %>
        </ul>
      </div>
    </nav>

  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
